 /* body {
    overflow-y: hidden;
    overflow-x: hidden; 
}  */


.addlocation{
    border: 2px dashed #d3d3d3;
    min-height: 268px;
     padding-top: 28%;
    align-items: center;
    justify-content: center;
 }
.addplus{
    cursor: pointer;
    margin-top: 14px;
    width:27%;
    

}
.text-center{
    text-align: center!important;
}
.custom-card{
    position: relative;
}
.imgsize{
    max-height: 98px;
    min-height:98px;
    object-fit: cover;
}
.titlee{
  color: gray;
  font-size: smaller;
  font-weight: 600;
  letter-spacing: .5px;
  font-family: sans-serif;

}
.text-truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}