
.wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  /* background-image: url('../images/homebanner.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

  
/* .wrapper{background: url('../images/homebanner.jpg') no-repeat   center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}  */



.custom-box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}    


















.error-text {
    color: red;
    font-size: 10px;
    margin-top: 4px;
  }
