/* 3 login pages css follwoed here */

.wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  /* background-image: url('../images/homebanner.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

.backgrounddesign{
/* backgroundImage: `url(${homebanner})`,  */
background-image: url('../images/homebanner.jpg');
background-position:center; 
background-size: cover; 
width:100%; 
height:100vh;   
/* overflow:hidden; */
background-color:black;
padding: 40px;
}
.htext{
  color: white;
}

.custom-box-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}    

.error-text {
    color: red;
    font-size: 10px;
    margin-top: 4px;
  }

/* loginmain css */

.cardbackground {
  /* background-color:black; */
  background-color:"#edeefo";
}
.labelformat{
   font-size: 14px;
    font-weight: 350;
     color: black ;
}

.signin{
 color:white;
  /* background-color:"#de342f"; */
  background-color: red;

}

.signin:hover {
  background-color: red; 
}
.labelshadow{
  box-shadow: 0px 4px 5px 0 rgba(0,0,0,0.2);
   background-color: white;
} 
.signup{
color: red;
font-size: 12px; 
font-weight: 500;
}
.smallfont{
 font-size:9px ;
 white-space:nowrap;
}

.partner{
 color:red;
font-size:12px;
font-weight: 500;
cursor: pointer;
}

/* .small-font {
  font-size: 12px;
}

.close-btn {
  color: red;
} */
/* partner with us form css */

.partnercard{
   /* background-color: "#EDEEF0"; */
   background-color:"#edeefo";

   color:gray;
  text-decoration:none;
}
.labelpartner{
color:black;
font-size:12px;
font-weight:200;
}
.submitbutton{
color:white;
background-color:red;
border-color:red;
font-size:15px;
}
.pleaseline{
 color:black;
font-size:12px;
}


/* /* .wrapper{background: url('../images/homebanner.jpg') no-repeat   center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}  
  /* label{
  box-shadow: 0px 3px 4px 0 rgba(0,0,0,0.2)
  /* 
  body {
  overflow-y: hidden;
  overflow-x: hidden;
}  

/* body {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../images/homebanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

/* add center css */


/* body {
  overflow-y: hidden; 
  overflow-x: hidden; 
} */


.bannerimage{
  height: 146px;
  border: 1px solid ;
  border-color: #bfbfbf;
  border-radius: 5px;
  width: 100% !important;
}

.banner{
  width: 104px;
  font-size: 16px;
}
.addimage{
  border-radius: 5px;
  border-color: #bfbfbf !important;
  border:1px solid;

}
.add{
  display:block;
  color:#2d77d2 !important;
  margin-top: 3px;
}
/*  */
/* Style the DatePicker component input */
.react-datepicker-wrapper input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  /* Add other styles as needed */
}

/* Style the DatePicker calendar container */
.react-datepicker {
  font-size: 14px;
  background-color: #fff;
  /* Add other styles as needed */
}

/* Style the DatePicker selected date */
.react-datepicker__day--selected {
  background-color: #2d77d2;
  color: #fff;
  /* Add other styles as needed */
}

/* Style the DatePicker day on hover */
.react-datepicker__day--hovered {
  background-color: #f0f0f0;
  /* Add other styles as needed */
}

/* Style the DatePicker day outside the current month */
.react-datepicker__day--outside-month {
  color: #ccc;
  /* Add other styles as needed */
}

/* Style the DatePicker day that is today */
.react-datepicker__day--today {
  font-weight: bold;
  /* Add other styles as needed */
}
.error-text{
color:red;
font-size: 9px;
}  

/* facilities add sports page modal css */
.labelname{
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
}

.labelweek{
  font-size: 13px;
  font-family: sans-serif;
}

.datepicker-size{
  width: 200px; 
  font-size: 14px; 
}

.reservationlabelname{
  opacity: 1;
  font-size: 12px;
  font-family:  sans-serif;

}

.modal-lg {
  max-width: 700px !important;
}

.displaytimefacilityform{
   font-size:12px;
   color:lightslategray;
}

.modelonetitle{
  font-size: 12px;
}
.modeltwotitle{
  font-size: 13px;
}
.modeltwoadd{
   font-size: 13px;
   cursor: pointer;
}
.modaltwocancelbutton{
 color:red;
 cursor:pointer;
text-decoration:none;

}

/* //////////////////////navbar.css////////////////////////////////////////////// */
.bg-location{
  background-color: rgba(95, 94, 94, 0.5)!important;
   border: none!important;

}
.dropdowncolor{
  background-color:#212529 !important;
  border:none;
}








/*/////////////////////////// dashboard css///////////////////////////////////////////  */

 /* body {
    overflow-y: hidden;
    overflow-x: hidden; 
}  */

.dashbackground{
  background-color: #EDEEF0;
  color: black; 
  font-size: 13px;
   font-weight:400 ;
}
.dashboardcardbody{
 cursor: pointer;
  min-height: 175px;
}
.addlocation{
 border: 2px dashed #d3d3d3;
 min-height: 268px;
  padding-top: 28%;
 align-items: center;
 justify-content: center;
}
.addplus{
 cursor: pointer;
 margin-top: 14px;
 width:27%;
 

}
.text-center{
 text-align: center!important;
}
.custom-card{
 position: relative;
}
.imgsize{
 max-height: 98px;
 min-height:98px;
 object-fit: cover;
}
.titlee{
color: gray;
font-size: smaller;
font-weight: 600;
letter-spacing: .5px;
font-family: sans-serif;

}
.text-truncate{
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.spandashboard
{
      max-width: 150px;
    font-size:  smaller;
    font-family: sans-serif;
    font-weight: lighter;
 }
.spandashboardtime{
 max-width: 70px;
 font-size: smaller;
 font-family:sans-serif;
 font-weight: lighter;

}
.dashboardcardaddress{
 max-width:150px;
 font-size:smaller;
font-family:sans-serif;
 font-weight: lighter;

}
/* /////////////////////////////add center css is below //////////////////////////////// */
.ADDaddcenter{
  font-size: 13px;
}
.addcenteruploadimage{
 font-size: 14px;
font-family:PT Sans,sans-serif;
}
.addcenterbannerimage{
font-size: 89% ;
}


/* Style the DatePicker day outside the current month */
.react-datepicker__day--outside-month {
  color: #ccc;
  /* Add other styles as needed */
}

/* Style the DatePicker day that is today */
.react-datepicker__day--today {
  font-weight: bold;
  /* Add other styles as needed */
}
.error-text{
color:red;
}  

/* //////////////////////////////Facility display page css////////////////////////////////// */
.facilitydpage-p{
  font-size: 13px;
}
.spanadd{
  color: rgb(77,140,217);
  font-size: 13px;
  font-weight: 600;
}
.cardcolor-fdp{
  background-color: whitesmoke;
}
.editicons-fdp{
  color:red;
  height: 16px;
  width: 16px;
  padding-top:3px;
  cursor: pointer;
}
.editiconsmodal-fdp{
  height: 30px;
  width: 30px;
   justify-content: center;
  color: red;
  align-items: center;
}
.fontadjustments{
  font-size: 12px;
}

.fontadjustmentstwo{
  font-size: 12px;
}

/* /////////////////////////sidebar csss /////////////////////////////////////////////*/
.sidebarbackground{
  background-color: #ffffff;
  /* background-color: rgb(231, 225, 225); */
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: smaller;

  
}

.sidebarlink {
  text-decoration: none; 
  color: black;
  /* display: flex; */
   /* align-items: center;  */
}  
 
.sidebarlink:hover,
.sidebarlink:active {
  color: red;
}

/* .sidebarlink:hover{
  color: red;
}
.sidebarlink:active{
  color: red; 
}  */